{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "indentation": [2, {
      "message": "Использовать пробела два для отступов должен ты"}],
    "number-leading-zero": null,
    "property-no-unknown": [ true, {
      "ignoreProperties": [
        "composes"
      ]
    }],
    "unit-whitelist": ["em", "rem", "s", "px", "%", "fr", "vh", "deg", "dppx"]
  }
}
