.advantages__list {
  counter-reset: advantages;

  @include clear-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  @media (min-width: $tablet-width) {
    min-height: 256px;
  }
}

.advantages__item--grey {
  position: relative;
  padding: 26px 20px 24px;
  background-color: $basic-grey;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 20px;
    right: 20px;
    background-color: $grey-400;
  }

  &:last-child::before {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 41px;

    &::before {
      content: none;
    }
  }
}

.advantages__item--basis {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.advantages__slogan {
  margin: 0 auto 35px;
  padding: 0 20px;
  text-align: center;
  max-width: 520px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 31px;
    padding: 0;
  }
}

.advantages__subtitle {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding: 0 12px;
  margin: 0 auto 26px;
  max-width: 520px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding: 0;
  }

  @media (min-width: $desctop-width) {
    margin-bottom: 41px;
  }
}

.advantages__content {
  background-color: $basic-light-blue;

  &--margin-bottom {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 57px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;

    &--right {
      justify-content: flex-end;
    }
  }
}

.advantages__description {
  padding: 54px 20px 39px;

  @media (min-width: $tablet-width) {
    width: calc(100% / 3);
    padding: 40px 20px 43px;
  }

  @media (min-width: $desctop-width) {
    padding: 50px;
  }

  &--second {
    @media (max-width: $only-mobile-width) {
      padding-top: 42px;
      padding-bottom: 34px;
    }

    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--slice {
    @media (max-width: $only-mobile-width) {
      background-image: url("data:image/svg+xml,%3Csvg width='320' height='37' viewBox='0 0 320 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-230 0H154V37L-230 0Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M538 0H154V37L538 0Z' fill='white'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: 768px 37px;
      background-position-x: 50%;
      background-position-y: -18px;
    }
  }
}

.advantages__image {
  display: block;
  margin: 0 auto;
  height: 260px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 100%;
    width: auto;
  }
}

.advantages__title {
  margin: 0 0 10px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }
}

.advantages__text::before {
  display: block;
  counter-increment: advantages;
  content: "— №" counter(advantages) " —";
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: $special-black;
  text-align: center;
  margin: 0;

  &--white {
    color: $basic-white;
  }
}

.advantages__text:not(:last-child) {
  margin: 0 0 21px;
}

.advantages__city {
  margin-bottom: 34px;

  @media (min-width: $desctop-width) {
    margin-bottom: 56px;
  }
}
