.advantage {
  &--grey {
    background-color: $basic-grey;
  }
}

.advantage__description {
  background-color: $basic-light-blue;
}

.advantage__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $basic-black;
  text-align: center;

  &--white {
    color: $basic-white;
  }
}

.advantage__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: $special-black;
  text-align: center;

  &--white {
    color: $basic-white;
  }
}
