.attraction {
  padding-bottom: 25px;
}

.attraction__title {
  padding: 15px 0 0;
  margin-bottom: 36px;
  text-align: center;
}

.attraction__list {
  @include clear-list;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 10px;
  }

  @media (min-width: $desctop-width) {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }
}

.attraction__item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.attraction__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $basic-black;
  padding-left: 79px;
  min-height: 56px;
}

.attraction__checkbox + .attraction__label::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background-color: $grey-200;
  left: 0;
  top: 0;
}

.attraction__checkbox:checked + .attraction__label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 20;
  left: 17px;
}

.attraction__checkbox:hover + .attraction__label::before,
.attraction__checkbox:focus + .attraction__label::before {
  background-color: $grey-150;
}

.attraction__checkbox:active + .attraction__label::before {
  background-color: $grey-550;
}

.attraction__checkbox:active + .attraction__label::after {
  opacity: .3;
}
