.contact-information {
  @media (min-width: $desctop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

.contact-information__title {
  margin: 0 0 19px;
  padding: 20px 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;

    &::before,
    &::after {
      content: "";
      flex-grow: 1;
      flex-shrink: 0;
      height: 1px;
      background-color: $grey-500;
    }
  }
}

.contact-information__item {
  margin: 0 0 14px;

  &:last-child {
    margin-bottom: 28px;
  }

  @media (min-width: $desctop-width) {
    display: flex;
    align-items: center;
  }
}
