.emotions__textarea {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $basic-black;
  background-color: $grey-200;
  padding: 13px 22px 29px;
  width: 100%;
  border: 0;
  resize: none;

  &::placeholder {
    color: inherit;
  }
}
