.feedback-form__item {
  border: none;
  padding: 0;
  margin: 0;
}

.feedback-form__title {
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $basic-black;
}
