.hide--mobile {
  @media (max-width: $only-mobile-width) {
    display: none;
  }
}

.hide--tablet {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.hide--desctop {
  @media (min-width: $desctop-width) {
    display: none;
  }
}
