.initials {
  @media (min-width: $tablet-width) {
    padding-left: 58px;
  }

  @media (min-width: $desctop-width) {
    padding-left: 79px;
  }
}

.initials__title {
  margin-bottom: 19px;
  padding: 20px 0 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: start;
  }
}

.initials__item {
  display: flex;
  align-items: center;
  margin: 0 0 20px;

  &:last-child {
    margin-bottom: 25px;
  }
}
