.intro__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $basic-black;
}

.intro__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $special-black;
}
