.main__advantages {
  margin-bottom: 33px;
}

.main__feedback {
  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}

.main__description {
  margin-bottom: 30px;
}

.main__gallery {
  margin-bottom: 32px;
}
