.seach-hotel {
  text-align: center;
}

.seach-hotel__slogan {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.seach-hotel__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
