.seach-hotel {
  text-align: center;
  line-height: 0;
}

.seach-hotel__wrapper {
  padding: 0 20px;
  margin-bottom: 49px;
}

.seach-hotel__slogan {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0 0 21px;
}

.seach-hotel__text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 27px;
}

.seach-hotel__button {
  display: block;
  margin: 0 auto;
  padding: 14.5px 32px 17.5px;
  width: 100%;
  max-width: 458px;
}

.seach-hotel__map {
  height: 350px;
  object-fit: cover;
}
